@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500;700;900&family=Rubik+Beastly&display=swap');
body {
	margin: 0;
	font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
/* .align-right {
	text-align: right !important;
} */
.navbar {
	background-color: black !important;
}
.nav-link {
	color: white !important;
}
.navbar-brand {
	color: white !important;
}
.smallimg {
	height: 200px;
	max-width: 100% !important;
	border-radius: 5px !important;
}
.bigimg {
	height: 400px;
	max-width: 100% !important;
	border-radius: 5px !important;
}
p {
	font-weight: 400 !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	font-size: 15px !important;
}
.dropdown-toggle {
	border: none !important;
}
.dropdown-menu {
	min-width: 7.5rem !important;
}
.modal-desc {
	padding: 1.2rem;
	color: black;
	font-size: 1.2rem;
}
h1 {
	font-size: 20px !important;
	font-weight: 600 !important;
	color: rgba(32, 11, 11, 0.815) !important;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}
.btn {
	background-color: black !important;
	color: white !important;
	box-shadow: none !important;
	/* margin-top: 1rem !important; */
}
.bs {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	margin-top: 20px !important;
	border-radius: 5px !important;
	padding: 30px !important;
}
input,
select,
.ant-picker {
	box-shadow: none !important;
	margin-top: 10px !important;
	border: 2px solid black !important;
	width: 100% !important;
	border-radius: 4px !important;
	height: 35px !important;
}
.ant-tabs-content-holder {
	height: 100vh;
}
h2 {
	font-size: 30px !important;
	text-align: center !important;
	padding: 10px !important;
	font-weight: bold !important;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}
.ant-picker-input input {
	border: none !important;
}

.ant-picker-input > input {
	padding-bottom: 10px !important;
	font-size: 16px !important;
	text-align: center;
}
.ant-picker-active-bar {
	bottom: -2px !important;
	height: 2.4px !important;
	background-color: rgb(29, 67, 220) !important;
}
.center-div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10000000;
	background-color: rgba(255, 255, 255, 0.15);
	backdrop-filter: blur(4px);
	/* background-color: rgba(255, 255, 255, 0.3); */
	/* backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%); */
	padding: 20px 20px;
	/* max-width: 600px; */
	width: 400px;
	height: 300px;
	border-radius: 10px;
}

.carousel-overlay-h2 {
	font-size: 30px !important;
	text-align: center !important;
	padding: 15px !important;
	font-weight: bold !important;
	margin-top: 10px !important;
}
.carousel-overlay-h1 {
	font-size: 20px !important;
	font-weight: 600 !important;
	color: rgba(32, 11, 11, 0.815) !important;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
	font-family: 'Gluten', Poppins;
}

.carousel-overlay-btn {
	background-color: black !important;
	color: white !important;
	box-shadow: none !important;
	border: none !important;
	margin-top: 20px;
	padding: 10px 20px !important;
	border-radius: 20px !important;
	font-size: 18px !important;
	font-weight: 600;
	width: 200px;
}
